@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-font{
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 300;
}
.nav-font-mobile{
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 500;
}
.footer-font{
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 400;
}